<div class="content">

  <div class="title">
    <h1>Registros Enviados</h1>
  </div>

  <div class="tabela">
    <table mat-table class="mat-elevation-z8 table" [dataSource]="registros">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let row">{{ row.nome }}</td>
      </ng-container>
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let row">{{ row.email }}</td>
      </ng-container>
      <ng-container matColumnDef="cpf">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let row">{{ row.cpf }}</td>
      </ng-container>
      <ng-container matColumnDef="validado">
        <th mat-header-cell *matHeaderCellDef> Validado </th>
        <td mat-cell *matCellDef="let row">{{ row.validado ? 'Sim' : 'Não'}}</td>
      </ng-container>
      <ng-container matColumnDef="acoes">
        <th class="mat-header" mat-header-cell *matHeaderCellDef> Ações </th>
        <td mat-cell *matCellDef="let row">
            <a class="button-style"  mat-stroked-button (click)="validarColaborador(row.nome, row.id)">Validar</a>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>
